Flask==3.1.0
flask-cors==5.0.0
werkzeug==3.0.6

ultralytics==8.3.0

torch==2.3.1
torchvision==0.18.1

opencv-python-headless==4.10.0.84

numpy<2
Pillow
pandas
PyYAML
requests
matplotlib
tqdm
scipy
psutil
thop
ipython
tensorboard
seaborn