.footer {
    background-color: #0c1121;
    color: white;
    padding: 40px 20px;
    text-align: left;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-title {
    color:#ff5733;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 2px solid #ff5733;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #ff5733;
  }
  
  .social-icons a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color:#ff5733;
  }
  
  .newsletter {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .newsletter input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .signup-btn {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .signup-btn:hover {
    background-color: #ff5733;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #333;
  }
  p{
color:white;
  }